.image-container {
    min-height: 200px;
    background-size: cover;
    border-radius: 5px;
}

@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}

@media (min-width: 420px) {
    .images {
        column-count: 3;
    }
}

@media (min-width: 720px) {
    .images {
        column-count: 4;
    }
}

.one-image {
    margin: 2px;
    transition: 0.2s;
    border-radius: 10px;
}
.one-image:active{
    transform:scale(0.8);
}
.imgw {
    border-radius: 10px;
}