<style>
  .ib{
    display: inline-block;
  }
  .item-inner { position: relative; width: 100%; padding-right: 0px!important; }
  .searchbar-search-icon {
    display: none;
  }
  .item .sc-ion-label-md-h{
    white-space: normal;
  }
  .talk {
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    min-width: 12em;
    margin-left: 10px;
    margin: 10px;
    background:var(--ion-color-light);
  }
  .me {
    text-align:right;
  }
  .mes{
    color: #fff;
    background:#387EF6;
    text-align: left;
  }
</style>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openmenu($event)"><ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">
  <div style="margin-bottom: 48px;overflow: hidden; min-height: 100%; width: 100%;" #talklist>
    <div *ngFor="let ary of talkarray" #messages style="margin-bottom: 10px;" [class.me]="ary[0] === name">
      <div style="display: inline-block; position: relative;width: 100%;margin-left: 10px;">
        <h5>
          <ion-avatar *ngIf="!ary[10]" slot="start" style="vertical-align: middle;display: inline-block; width: 30px; height: 30px;">
            <ion-img src="{{ary[2]}}"></ion-img>
          </ion-avatar>
          {{ary[0]}}
          <div *ngIf="ary[5]" style="display: inline-block; white-space: pre-wrap;">
            <p style="display: inline-block;"style="font-size: 10px; display: inline-block;">{{ary[5]}} | </p>
            <p style="font-size: 10px; display: inline-block;" innerHTML="{{ary[3]}}"></p>
          </div>
          <ion-avatar *ngIf="ary[10]" slot="end" style="vertical-align: middle;display: inline-block; width: 30px; height: 30px; margin-right: 20px; margin-left: 10px;">
            <ion-img src="{{ary[2]}}"></ion-img>
          </ion-avatar>
        </h5>
      </div>
      <div class="talk" *ngIf="ary[1]" [class.mes]="ary[0] === name">
        <p>{{ary[1]}}</p>
      </div>

        <div *ngIf="ary[9]" class="talk" [class.mes]="ary[0] === name">
          <p style="white-space: nowrap;"> </p>
          <img [src]="ary[9]" style="border-radius: 10px;">
        </div>

        <div *ngIf="ary[11]" class="talk" [class.mes]="ary[0] === name">
          <p style="white-space: nowrap;"> </p>
          <iframe [src]="ary[11]" style="border-radius: 10px;" (load)="ytl()"></iframe>
          <ion-spinner *ngIf="ytloading"></ion-spinner>
        </div>

    </div>
  </div>
  <ion-item style="position: fixed; bottom: 0; width: 100%;">
      <ion-input type="text" [(ngModel)]="inputv" placeholder="メッセージを入力.."></ion-input>
      <ion-button fill="clear" (click)="ytopen()" style="height: 100%; margin-right: 0px; width: 45px;"><ion-icon  style="font-size: 24px;" name="logo-youtube"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="GIF()" style="height: 100%; margin-right: 0px; width: 45px;"><ion-icon  style="font-size: 24px;" name="shapes"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="openimg()" style="height: 100%; margin-right: 0px; width: 45px;"><ion-icon  style="font-size: 24px;" name="images"></ion-icon></ion-button>
      <ion-button fill="clear" (click)="send()" style="height: 100%; margin-right: 0px; width: 45px;"><ion-icon  style="font-size: 24px;" name="send"></ion-icon></ion-button>
       <!-- <input style="color: transparent; position: relative; width: 100%; height: 100%;" type="file" accept="image/*">-->
  </ion-item>
</ion-content>
 