<style>
  .hide {
    display: none;
  }
</style>
<ion-tabs [style.hide]="!ifhide">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="group">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>グループトーク</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="open">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>オープントーク</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>プロフィール</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
