<ion-content>
    <svg class="editorial"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none">
<defs>
<path id="gentle-wave"
d="M-160 44c30 0 
   58-18 88-18s
   58 18 88 18 
   58-18 88-18 
   58 18 88 18
   v44h-352z" />
 </defs>
 <g class="parallax">
  <use xlink:href="#gentle-wave" x="50" y="0" fill="#95cced"/>
  <use xlink:href="#gentle-wave" x="50" y="3" fill="#51b2ed"/>
  <use xlink:href="#gentle-wave" x="50" y="6" fill="#41ADEF"/>  
 </g>
</svg>
<div class="content">
 <img src="./assets/icon/submarin.png" class="logo">
 <div style="font-family: 'Comfortaa', cursive; text-align: center; font-size: 25px;">
  by subway
  </div>
  <div style="text-align: center; font-family: 'Comfortaa', cursive; vertical-align: middle;">
    <ion-icon style="vertical-align: middle;" name="cube-outline"></ion-icon> 5.6
    </div>

      <ion-button (click)="gochat()" expand="block" color="light" style="color:dodgerblue; position: absolute; bottom: 2em; left: 0; right: 0; margin: 0 auto;width: 80%;" size="large">はじめる</ion-button>
    </div>
</ion-content>
