ion-content ion-toolbar {
  --background: translucent;
}
body {
  line-height: 0;
}
ion-content {
  --background: #41ADEF;
}
.box{
  background: var(--ion-toolbar-background);
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
::selection{background-color: salmon; color: white;}
.parallax > use{
animation:move-forever 12s linear infinite;
/*&:nth-child(1){animation-delay:-2s;}
&:nth-child(2){animation-delay:-2s; animation-duration:5s}
&:nth-child(3){animation-delay:-4s; animation-duration:3s}*/
}
@keyframes move-forever{
0%{transform: translate(-90px , 0%)}
100%{transform: translate(85px , 0%)} 
}
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
.editorial{
  background-color:  var(--ion-background-color);
}
.content{
  padding: 10px;
  background-color: #41ADEF;
  position: relative;
  width: 100%;
  height: 72%;
}
.top {
  text-align:left;
  background-color: var(--ion-toolbar-background);
  position: absolute;
  border-radius: 50px 50px 50px 50px;
  width: 90%;
  height: 100px;
  box-shadow: 0 0 2rem #babbbc;
  left: 0;
  right: 0;
  top: -90px;
  display: table;
  vertical-align: middle;
  display: inline-block;
  margin: 35px auto;
}
.topimg {
  height: 100px;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 .5rem #babbbc;
  border: 5px solid #fafafa;
  vertical-align: middle;
  width:100px;
  border-radius: 100px;
}
.name{
  position: relative;
  margin-left: 10px;
  display:inline-block;
  white-space:nowrap;
  font-size: 25px;
  vertical-align: middle;
}
.id{
margin-left: 20px;
}
.n{
  position: relative;
margin-left: 10px;
  display:inline-block;
  white-space:nowrap;
  vertical-align: middle;
}