<ion-content style="text-align: center;">
  <div class="content">
  <div class="top">
    <img alt="" (error)="prevurl = 'https://img.icons8.com/fluent/96/000000/user-male-circle.png'" [src]="prevurl" class="topimg">
    <div class="n">
    <ng-container *ngIf="tw && name">
    <h1 class="name"> {{this.name}}</h1>
    <h3 class="id">@{{this.tw}}</h3>
  </ng-container>

  <ng-container *ngIf="!tw || !name">
    <div class="dontlong">
    <h3 class="id">idか名前が入力されていません。</h3>
    </div>
  </ng-container>

    </div>
  </div>
  <div class="box">

  <ion-item style="background-color: transparent;">
    <ion-label>過去のメッセージを100件まで表示する</ion-label>
    <ion-checkbox disabled (click)="togglemessage()" [(ngModel)]="oldmessage"></ion-checkbox>
  </ion-item>
  <!--<ion-button (click)="toggleOption()" fill="clear">または手動で設定する</ion-button> -->
  <div *ngIf="option" [@fadeInOut]>
    <ion-list>
      <ion-item>
        <ion-label placeholder="ここに名前を入力..." position="floating" >名前</ion-label>
        <ion-input [(ngModel)]=name></ion-input>
      </ion-item>
      <ion-item (click)="openimgsheet()" detail>
        <ion-label>アイコンを変更</ion-label>
      </ion-item>
      <ion-item>
        <ion-label placeholder="ここにtwitterIDを入力..." position="floating">TwitterID</ion-label>
        <ion-input [(ngModel)]="tw"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="send()" expand="block" shape="round" style="width: 80%; position: relative;left: 0; right: 0; margin: 0 auto;" size="large">プロフィールを変更</ion-button>
  </div>
  </div>
  </div>
  <svg class="editorial"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28"
  style="margin-bottom: 0px;"
  preserveAspectRatio="none">
<defs>
<path id="gentle-wave"
d="M-160 44c30 0 
 58-18 88-18s
 58 18 88 18 
 58-18 88-18 
 58 18 88 18
 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="50" y="0" fill="#95cced"/>
<use xlink:href="#gentle-wave" x="50" y="3" fill="#51b2ed"/>
<use xlink:href="#gentle-wave" x="50" y="6" fill="#41ADEF"/>  
</g>
</svg>
</ion-content>
